* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    /*Creando variables para usarlas en todo el documento*/
    --primary: #e94a3e;
    --light: #eee;
    --gray: #666;
    --gray-light: #999;
} 
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light);
}
.card{
    width: 300px;
    background-color: white;
    cursor: pointer;  /*Colocar la manito como puntero */
}
.card:hover .card__description{
    height: 90px;
}
.card:hover .card__img{
    filter: brightness(0.7);  /*aplica brillo opaco al hacerle hover al card*/
    transform: scale(1.1, 1.1);  /*aplica zoom al hacerle hover al card*/
}
.card:hover .card__header{
    height: 200px;
}
.card__header{
    position: relative;
    height: 300px;
    overflow: hidden;
    transition: all 0.5s ease;
}
.card__img{
    width: 100%;
    transition: all 0.5s ease;
}
.card__photos{
    padding: 6px 10px;
    background-color: var(--primary);
    color: var(--light);
    position: absolute;  /*Su papá si o si tiene que ser RELATIVO*/
    bottom: 0;
    left: 0;
}
.card__date{
    background-color: var(--primary);
    color: var(--light);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;

}
.card__boddy{
    padding: 20px;

}
.card__title{
    margin-bottom: 15px;
}
.card__subtitle{
    color: var(--primary);
    margin-bottom: 15px;
}
.card__description{
    font-size: 13px;
    line-height: 22px; /*Cuanto espacio hay entre lineas de un parrafo*/
    color: var(--gray);
    height: 0px;
    overflow: hidden;
    transition: all 0.5s ease;
}
.card__footer{
    padding: 10px 20px;
    
}
.card__feed{
    list-style: none; /*Le quitamos el estilo de las viñetas a la lista*/
}
.card__item{
    display: inline-block;
    font-size: 13px;
    color: var(--gray-light);
    margin-right: 15px;
}

