/*Viendo FLEX BOX*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.padre{
    border: 1px solid tomato;
    /* Hace que todos sus hijos empiecen a ocupar el espacio mínimo de acuerdo
    a su contenido */
    display: flex;
    /* Regla: flex-direction: Row; eso está por defecto*/
    /*flex-direction: column; Coloca a los hijos en una sola columna*/
    /*Por defecto tambien tenemos el
    flex-wrap: nowrap; y podemos cambiarlo a wrap para que respete el contenido */
    
    /*PROPIEDAD para que los hijos colapsen en caso necesiten mas ancho que
    el del padre */
    /*Por defecto: flex-wrap: nowrap; significa que los hijos NO Calapsen*/
    flex-wrap: wrap;
    /* width: 25%; */
}
.caja-1, .caja-2, .caja-3, .caja-4{
    border: 1px solid black;
    width: 25%;
}
.caja-1{
    width: 200px;
    background-color: teal;
}
.seccion2{
    display: flex;
}
.seccion2__1{
    flex: 1;
    border: 1px solid red;
}
.seccion2__2{
    flex: 1;
    border: 1px solid red;
}
.seccion2__3{
    flex: 1;
    border: 1px solid red;
} 
.seccion2__4{
    flex: 1;
    border: 1px solid red;
}  
.header{
    height: 60px;
    background-color: tomato;
    /* display: flex; */
}
.header__lista{
    height: 100%;
    background-color: teal;
    display: flex;
    list-style: none;  
}
.header__item{
    flex: 1;
    border: 1px solid yellow;
    /* padding: 5px 10px; */
    text-align: center;
    padding-top: 20px;
    
}



