@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    /*
    Regla para que el PADDING y el BORDER no afecte su tamaño
    */
    box-sizing: border-box;
    padding: 0;
    border:0;
}
body{
    background-color: #444;
    color: #eee;
}
.header{
    background-color: #666;
    /*height: Atura de un elemento*/
    height: 60px;
    display: flex;
    justify-content: center;
}
.header span{
    background-color: #fff;
    color:#444;

}
.main{
    background-color: gray;
    width: 800px;
    /* height: 200px; */
    padding-bottom: 20px;
}
.footer{
    text-align: center;
}
.main__imagenes{
    height: 100px;
    /*Controla el borde de los hijos del padre*/
    /* overflow: hidden; */
    overflow-y: scroll;
    /* overflow-x: scroll; */
}
/*
Regla de Oro: A un elemento le suma en tamaño su Padding y su borde, mas no su MARGEN
Pero para que la suma de su padding y su border no SUMEN su tamaño se coloca: box-sizing: border-box;
*/
.main__descripcion{
    height: 100px;
    width: 100px;
    background-color:orange;
    margin-bottom: 21px;
    border: 5px solid white;
    padding: 5px;
    box-sizing: border-box;
}
.main__articulos{
    height: 150px;
    width: 150px;
    margin: 20px;
    background-color: plum;
}




